<meta charset="UTF-8">
<!-- Chrome, Firefox OS and Opera -->
<meta name="theme-color" content="#2c7a7b">
<!-- Windows Phone -->
<meta name="msapplication-navbutton-color" content="#2c7a7b">
<!-- iOS Safari -->
<meta name="apple-mobile-web-app-status-bar-style" content="#2c7a7b">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name=”robots” content="index, follow">

<link rel="apple-touch-icon" sizes="180x180" href="/images/logo_180x180.png">
<link rel="icon" type="image/png" sizes="512x512" href="/images/logo_512x512.png">
<link rel="icon" type="image/png" sizes="128x128" href="/images/logo_128x128.png">
<link rel="icon" type="image/png" sizes="64x64" href="/images/logo_64x64.png">
<link rel="icon" type="image/png" sizes="32x32" href="/images/logo_32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/images/logo_16x16.png">

<!-- https://www.creativebloq.com/html5/12-html5-tricks-mobile-81412803 -->